@page
@model Web.Pages.User.SignInModel
@{
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 bg-black p-5 mt-5 bg-opacity-10 rounded">

            <h1 class="mb-3 h3">Sign In</h1>

            <div asp-validation-summary="ModelOnly"></div>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" asp-for="SignInCommand.Email" />
                    <span asp-validation-for="SignInCommand.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" asp-for="SignInCommand.Password" />
                    <span asp-validation-for="SignInCommand.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <partial name="_LoadingButton" model="@(new LoadingButton("Sign In", "btn btn-secondary"))" />
                </div>
            </form>
        </div>
    </div>
</div>